<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cmpp3.gateway.ip" value="183.230.96.94"/>
    <add key="cmpp3.gateway.port" value="17890"/>
    <add key="cmpp3.gateway.username" value="scyayd"/>
    <add key="cmpp3.gateway.password" value="scyayd10086"/>
    <add key="cmpp3.service.spid" value="230790"/>
    <add key="cmpp3.service.spcode" value="1064899230790"/>
    <add key="cmpp3.service.service_id" value="scyayd"/>
    <add key="cmpp3.service.signature" value="雅安移动"/>
    <add key="cmpp3.prepositive_gateway_signature" value="true"/>
    <add key="cmpp3.attemp_remove_signature" value="false"/>
    <add key="cmpp3.disable_long_message" value="false"/>
    <add key="cmpp3.send_long_message_as_short_messages" value="false"/>
    <add key="test.numbers" value="1064804577002"/>
  </appSettings>
</configuration>